:root {
    --title-font: 'Indie Flower', cursive;
    --main-font: 'Mali', cursive;
}

body {
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: silver;
    background-image: url("../imgs/pattern.png");
    gap: 50px;
    margin: 8px;
}

#site-header {
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 10px black;
}

#site-title {
    font-family: var(--title-font);
    font-size: 225%;
}

#site-version {
    font-style: italic;
}

#main {
    display: flex;
    justify-content: center;
    min-width: 466px;
}

#sudoku {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 466px;
    height: 466px;
    box-shadow: 0 0 15px black;
    outline: 5px solid white;
}

.sudoku-chunk {
    border: 2px solid black;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 154px;
    height: 154px;
    gap: 0;
}

.sudoku-input {
    font-family: var(--title-font);
    font-size: 200%;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
}

input:focus-visible {
    outline: 0;
}

/* reference to style below: https://stackoverflow.com/questions/26024771/styling-an-input-type-number */
input[type=number]::-webkit-inner-spin-button { /* for Chrome */
    -webkit-appearance: none;
}

/* reference to style below: https://stackoverflow.com/questions/26024771/styling-an-input-type-number */
input[type=number] { /* for Mozilla */
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#solve, #erase {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 150%;
    cursor: pointer;
    letter-spacing: 3px;
    padding: 15px;
    box-shadow: 0 0 5px black;
    border: none;
    border-radius: 10px;
    background-color: #ffffffde;
    transition: all .3s;
}

#solve:hover, #erase:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px black;
    color: white;
    transition: all .5s;
}

#solve:hover {
    background-color: #008040de;
}

#erase:hover {
    background-color: #800000de;
}

#site-footer {
    color: #333333;
    font-weight: bold;
    width: calc(100% - 16px);
    padding: 7px;
    text-align: center;
    box-sizing: border-box;
}

a {
    color: #333333;
}

a:hover {
    color: black;
}

#notification {
    display: none;
    background-color: #ffffffee;
    position: fixed;
    width: 30vw;
    height: 30vh;
	top: calc(50vh - 15vh);
	left: calc(50vw - 15vw);
	box-shadow: 0 0 40px black;
    box-sizing: border-box;
    padding: 2vh 2vw;
	z-index: 99;
}

@keyframes loadingRotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

#loading {
    display: none;
    position: fixed;
    width: 100px;
    height: 100px;
	top: calc(50vh - 50px);
	left: calc(50vw - 50px);
    box-sizing: border-box;
	z-index: 99;
    animation-name: loadingRotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#loading-image {
    user-select: none;
    pointer-events: none;
    width: 100%;
}